---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'dirt' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-logo img {
  max-height: 1.8rem;
}
.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.7rem;
  z-index: 20;
}
.page__lead {
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 1.0em;
    margin-top: 50px;
}
.feature__wrapper {
    clear: both;
    margin-bottom: 2em;
    border-bottom: 0px solid #d1d0ce;
}
.nav__sub-title {
    display: block;
    margin: 0.5rem 0;
    padding: 0.25rem 0.25rem;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: .75em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #d1d0ce!important;
    border-bottom: none;
}
/*.member-img {
  width: 77px;
  border-radius: 120px;
  position: relative;
  left: -18px;
  top: 25px;
}

.archive__item-teaser {
  display: block;
  max-width: 90%;
  height: auto;

  img {
    margin: 0 auto;
    border: 7px solid #fff;
    border-radius: 50%;
  }
 }
.news-img { 
  @include breakpoint($small) {
      max-height: 300px;
      margin-bottom: 2em;
    }      
    @include breakpoint($medium) {
      max-height: 200px;
      margin-bottom: 1em;
   }
  
    img {
      border-radius: 4px;
      border: 0px solid #fff;
  }
}*/
  
.grid__item {
  margin-left:3em;
  margin-right:3em;
    .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 300px;
      margin-bottom: 2em;
    }      
    @include breakpoint($medium) {
      max-height: 200px;
      margin-bottom: 1em;
   }
  }
}
.feature__item {
  margin-left:3em;
  margin-right:3em;
}
.page__content h2 {
    padding-bottom: 0.5em;
    border-bottom: 0px solid #d1d0ce!important;
}
img[src*='#left'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 5px;
}
img[src*='#right'] {
    float: right;
    padding-left: 20px;
    padding-bottom: 5px;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}
.team-member {
    text-align: center;
    margin-bottom: 50px;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
display: block;
max-width: 100%;
height: auto;
}
.img-rounded {
border-radius: 50%;
}
.img-thumbnail {
display: inline-block;
max-width: 100%;
height: auto;
padding: 4px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 50px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.page__lead {
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 1.0em;
    margin-top: 50px;
    text-align: center;
}
/*ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136
}
*/
