---
title: "Foster Group Projects"
layout: home
permalink: /projects/
header:

  overlay_color: "#a4a8ad"

intro:
    - excerpt: 'Something about the projects'
feature_row:
        - title: "project 1"
          excerpt: "[project 1](./project1/)This is some sample content that goes here with **Markdown** formatting."
        - title: "project 2"
          excerpt: "This is some sample content that goes here with **Markdown** formatting."
        - title: "project 3"
          excerpt: "This is some sample content that goes here with **Markdown** formatting."
        - title: "project 1"
          excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

      {% include feature_row id="intro" type="center" %}

      {% include feature_row %}
