---
title: "Projects"
layout: single
permalink: /projects/
classes: team-member
header:
  overlay_color: "#050505"
  overlay_filter: "0.0"
  overlay_image: /assets/img/ivy.jpg
intro:
    - excerpt: 'Our research efforts to date have produced solutions to several fundamental problems in network programming.'
feature_row:
        - title: "project 1"
          excerpt: "[project 1](./project1/)"
        - title: "project 2"
          excerpt: "[project 2](./project2/)This is some sample content that goes here with **Markdown** formatting."
        - title: "project 3"
          excerpt: "This is some sample content that goes here with **Markdown** formatting."
        - title: "project 4"
          excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

      {% include feature_row id="intro" type="center" %}

      {% include feature_row %}
