---
title: "Projects"
style: circle
layout: splash
permalink: /projects/
header:
  overlay_color: "#050505"
  overlay_filter: "0.0"
  overlay_image: /assets/img/ivy.jpg
intro:
    - excerpt: 'Our research efforts to date have produced solutions to several fundamental problems in network programming.'
feature_row:
        - image_path: /assets/img/frenetic.jpg
          alt: "mother board"
          title: "Frenetic"
          excerpt: "[Frenetic](./project1/) is a domain-specific programming language for software-defined..."
        - image_path: /assets/img/isdx.jpg 
          alt: "mother board"
          title: "iSDX"
          excerpt: "[iSDX](./project2/) (Software-Defined IXP) brings the features of SDN to interdomain routing, offering direct..."
        - image_path: /assets/img/minesweeper.jpg
          alt: "mother board"
          title: "Minesweeper"
          excerpt: "[Minesweeper](./project3/) is a proactive network analysis and bug-finding tool. Given a set of network..."
        - image_path: /assets/img/probnetkat.jpg 
          alt: "mother board"
          title: "NetKAT and ProbNetKAT"
          excerpt: "[NetKAT](./project4/)NetKAT is a network programming language based on a solid mathematical..."
 circle: { border-radius: 50%; }
---

      {% include feature_row id="intro" type="center" %}

      {% include feature_row %}


